<!DOCTYPE html>
<html html lang="en" ng-app="ChromeOptionsApp" ng-strict-di="" ng-csp="">
<head ng-controller="ChromeOptionsHeadController">

  <meta charset="utf-8">
  <title ng-bind="app_name + ' - Options'"></title>

  <link rel="stylesheet" href="../../../bower_components/chrome-bootstrap/chrome-bootstrap.css">

  <style type="text/css">
    #branding {
      color: #333;
    }

    #branding img {
      margin-top: 10px;
      margin-bottom: -15px;
    }

    a.action_item {
      text-decoration: none;
    }

    iframe.imported {
      border: 1px solid #EEE;
    }

    .imported {
      margin-left: -20px;
    }
  </style>

</head>
<body class="chrome-bootstrap" ng-controller="ChromeOptionsMainController">

  <div class="frame">
    <div class="navigation">

      <div id="branding">
        <img ng-if="config.branding" ng-src="{{ config.branding }}">
        <h1 ng-bind="config.app_name"></h1>
      </div>


      <ul class="menu">
        <li ng-repeat="page in config.pages" ng-class="{ 'selected': page.id === page_id }"><a ng-bind="page.label" ng-click="selectPage(page.id)"></a></li>
      </ul>
    </div>
    <div class="mainview view">
      <div ng-repeat="page in config.pages" ng-class="{ 'selected': page.id === page_id }">
        <header>
          <h1>{{ page.label }}<small ng-bind="page.subhead"></small></h1>
            <div class="corner" ng-if="page.filter">
              <input class="search" placeholder="Filter options" ng-model="search[page.filter]">
            </div>
        </header>
        <div class="content">
          <div ng-repeat="category in page.categories | filter : search.categories ">
            <h3 ng-if="category.label">{{ category.label }}<small ng-bind="category.subhead"></small></h3>
            <div ng-repeat="option in category.options" chr-option="option" chr-category="category.id"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../bower_components/angular/angular.js"></script>

  <script src="js/chrome-options-app.js"></script>
  <script src="js/chrome-options-config.js"></script>

  <script src="js/chrome-options-controller-head.js"></script>
  <script src="js/chrome-options-controller-main.js"></script>

  <script src="js/chrome-options-directive.js"></script>

  <script src="js/chrome-options-service.js"></script>

</body>
</html>
