<!DOCTYPE html>
<html html lang="en" ng-app="ChromeOptionsApp" ng-strict-di="" ng-csp="">
<head ng-controller="ChromeOptionsHeadController">

  <meta charset="utf-8">
  <title>Options</title>

  <link rel="stylesheet" href="../../../bower_components/chrome-bootstrap/chrome-bootstrap.css">

</head>
<body class="chrome-bootstrap" ng-controller="ChromeOptionsMainController">

<div class="frame">
  <div class="navigation">
    <h1>Chrome App</h1>
    <ul class="menu">
      <li ng-repeat="page in config" ng-class="{ 'selected': page.id == page_id }"><a ng-bind="page.id" ng-click="showPage(page.id)"></a></li>
    </ul>
  </div>
</div>




  <script src="../../../bower_components/angular/angular.js"></script>
  <script src="../../../bower_components/angular-resolver/resolver_service.js"></script>

  <script src="js/chrome-options-app.js"></script>
  <script src="js/chrome-options-config.js"></script>

  <script src="js/chrome-options-controller-head.js"></script>
  <script src="js/chrome-options-controller-main.js"></script>

  <script src="js/chrome-options-directive-category.js"></script>
  <script src="js/chrome-options-directive-page.js"></script>

  <script src="js/chrome-options-service.js"></script>

</body>
</html>
